@using YourPlace.Infrastructure.Data.Enums;
@model AllHotelsModel
@{

    ViewData["Title"] = "Welcome!";
}

<link rel="stylesheet" type="text/css" href="~/css/test.css" />

<div class="container1">
    <div class="questions">
        <div class="test">
            <div id="quizForm">
                <div class="question" id="question1" asp-for="Location">
                    <p>Въпрос 1: Какво предпочитате?</p>
                    <label>
                        <input type="radio" name="question1" value="@Location.Sea">
                        Море
                    </label>
                    <label>
                        <input type="radio" name="question1" value="@Location.Mountain">
                        Планина
                    </label>
                    <label>
                        <input type="radio" name="question1" value="@Location.LargeCity">
                        Голям град
                    </label>
                    <label>
                        <input type="radio" name="question1" value="@Location.Village">
                        Малко село
                    </label>
                </div>

                <!-- Question 2 -->
                <div class="question" id="question2" style="display: none;" asp-for="Tourism">
                    <p>Въпрос 2: Какъв тип почивка предпочитате?</p>
                    <label>
                        <input type="radio" name="question2" value="@Tourism.Culture">
                        Култура
                    </label>
                    <label>
                        <input type="radio" name="question2" value="@Tourism.Shopping">
                        Пазаруване
                    </label>
                    <label>
                        <input type="radio" name="question2" value="@Tourism.Adventure">
                        Приключение
                    </label>
                    <label>
                        <input type="radio" name="question2" value="@Tourism.Relax">
                        Релакс
                    </label>
                </div>

                <!-- Question 3 -->
                <div class="question" id="question3" style="display: none;" asp-for="Atmosphere">
                    <p>Въпрос 3: Кое предпочитате?</p>
                    <label>
                        <input type="radio" name="question3" value="@Atmosphere.Calm">
                        Спокойствие
                    </label>
                    <label>
                        <input type="radio" name="question3" value="@Atmosphere.Party">
                        Парти
                    </label>
                    <label>
                        <input type="radio" name="question3" value="@Atmosphere.Both">
                        И двете
                    </label>
                    <label>
                        <input type="radio" name="question3" value="@Atmosphere.Neither">
                        Нито едното
                    </label>
                </div>

                <!-- Question 4 -->
                <div class="question" id="question4" style="display: none;" asp-for="Company">
                    <p>Въпрос 4: Какъв тип пътуване търсите?</p>
                    <label>
                        <input type="radio" name="question4" value="@Company.Family">
                        Семейно
                    </label>
                    <label>
                        <input type="radio" name="question4" value="@Company.OnePerson">
                        С един човек
                    </label>
                    <label>
                        <input type="radio" name="question4" value="@Company.Individual">
                        Самостоятелно
                    </label>
                    <label>
                        <input type="radio" name="question4" value="@Company.Group">
                        Групово
                    </label>
                </div>

                <!-- Question 5 -->
                <div class="question" id="question5" style="display: none;" asp-for="Pricing">
                    <p>Въпрос 5: Кое предпочитате?</p>
                    <label>
                        <input type="radio" name="question5" value="@Pricing.Lux">
                        Луксозно
                    </label>
                    <label>
                        <input type="radio" name="question5" value="@Pricing.Cheap">
                        Евтино
                    </label>
                    <label>
                        <input type="radio" name="question5" value="@Pricing.InTheMiddle">
                        Нещо по средата
                    </label>
                    <label>
                        <input type="radio" name="question5" value="@Pricing.Modern">
                        Модерно
                    </label>
                </div>
                <button class="prev-btn" style="display: none;">Предишен</button>
                <button class="next-btn" id="next">Следващ</button>
                <form asp-controller="Sorting" asp-action="CreatePreferences">
                    <input type="hidden" id="hidden-question1" name="question1Value" asp-for="Location">
                    <input type="hidden" id="hidden-question2" name="question2Value" asp-for="Tourism">
                    <input type="hidden" id="hidden-question3" name="question3Value" asp-for="Atmosphere">
                    <input type="hidden" id="hidden-question4" name="question4Value" asp-for="Company">
                    <input type="hidden" id="hidden-question5" name="question5Value" asp-for="Pricing">
                    <button class="next-btn" type="submit" id="submit">Предай</button>
                </form>
            </div>
          
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('quizForm');
            const prevButton = document.querySelector('.prev-btn');
            const nextButton = document.querySelector('.next-btn');
            const submitButton = document.getElementById('submit');
            const questions = Array.from(form.querySelectorAll('.question'));
            let currentQuestion = 0;
            const secondForm = document.querySelector('form[asp-action="CreatePreferences"]');
            const resultDiv = document.getElementById('result');

            function showQuestion(index) {
                questions.forEach((question, i) => {
                    question.style.display = i === index ? 'block' : 'none';
                });

                prevButton.style.display = index === 0 ? 'none' : 'inline-block';
                submitButton.style.display = index === questions.length - 1 ? 'inline-block' : 'none';
            }

            showQuestion(currentQuestion);

            prevButton.addEventListener('click', () => {
                if (currentQuestion > 0) {
                    currentQuestion--;
                    showQuestion(currentQuestion);
                }
            });

            nextButton.addEventListener('click', (e) => {
                e.preventDefault();

                const selectedAnswer = form.querySelector(`input[name="question${currentQuestion + 1}"]:checked`);

                if (selectedAnswer || currentQuestion === questions.length - 1) {
                    if (currentQuestion < questions.length - 1) {
                        currentQuestion++;
                        showQuestion(currentQuestion);
                    }
                    displaySelectedAnswer(currentQuestion, selectedAnswer.value);
                } else {
                    alert('Моля изберете отговор.');
                }
            });

            // // submitButton.addEventListener('click', function (e) {
            // //     e.preventDefault();
            // //     submitForm();
            // //     console.log("I AM HERE");
            // // });
            
            
                // const question1 = document.getElementById('question1');
                // const hidden1 = document.getElementById('hidden-question1');

                // const question2 = document.getElementById('question2');
                // const hidden2 = document.getElementById('hidden-question2');

                // const question3 = document.getElementById('question3');
                // const hidden3 = document.getElementById('hidden-question3');

                // const question4 = document.getElementById('question4');
                // const hidden4 = document.getElementById('hidden-question4');

                // const question5 = document.getElementById('question5');
                // const hidden5 = document.getElementById('hidden-question5');

                // // submitButton.addEventListener('click', (event) => {
                //     hidden1.value = getSelectedAnswer('question1');
                //     hidden2.value = getSelectedAnswer('question2');
                //     hidden3.value = getSelectedAnswer('question3');
                //     hidden4.value = getSelectedAnswer('question4');
                //     hidden5.value = getSelectedAnswer('question5');
                // });
           
            

            //     };
            //     // for (const answer of answers) {

            //     // }
            //     // resultDiv.innerHTML = "<h2>Selected Answers:</h2>";
            //     // for (const question in answers) {
            //     //     resultDiv.innerHTML += `<p>${question}: ${answers[question]}</p>`;
            //     // }

            //     //secondForm.submit();
            // //}

            // function getSelectedAnswer(questionId) {
            //     const radioButtons = document.getElementById(questionId);
            //     let radioButtonValue = 0;
            //     for (const radioButton of radioButtons) {
            //         if (radioButton.checked) {
            //             radioButtonValue = radioButton.value;
            //         }
            //     }
            //     console.log("MEOWWWW");
            //     return radioButtonValue;
            // }

            // function displaySelectedAnswer(questionIndex, answer) {
            //     const answerDiv = document.getElementById(`answer${questionIndex + 1}`);
            //     answerDiv.innerHTML = `<p>Избран отговор: ${answer}</p>`;
            //}
        });
    </script>
    <script src="~/js/test-script.js"/> 
