@model AllHotelsModel

@{
    Layout = "_LayoutWithFilters";
    DateTime tomorrow = DateTime.Today.AddDays(1);
    string tomorrowDateString = tomorrow.ToString("yyyy-MM-dd");
}
<link rel="stylesheet" type="text/css" href="~/css/reservation.css" />


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="styles/style-offer.css">
    <title>YourPlace</title>
</head>

<body>
    <div class="row">
        <div class="container3">

            <div class="container-text">
                @if (Model.HotelModel != null)
                {
                    <h2>@Model.HotelModel.HotelName</h2>
                    <p>@Model.HotelModel.Town, @Model.HotelModel.Country</p>
                    <p>@Model.HotelModel.Rating/10</p>
                    <br />
                }
                else
                {
                    <p>Hotel is null.</p>
                }
            </div>
            <div>
                @using (Html.BeginForm("CheckAvailability", "Reservations", FormMethod.Post))
                {
                    <input type="hidden" value="@Model.HotelModel.HotelID" />
                    <div class="form-group">
                        <label asp-for="FirstName">Име</label>
                        <input asp-for="FirstName" class="form-control" type="text" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Surname">Фамилия</label>
                        <input asp-for="Surname" class="form-control" type="text" />
                        <span asp-validation-for="Surname" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PeopleCount">Брой хора:</label>
                        <input asp-for="PeopleCount" class="form-control" type="text" value="1" />
                        <span asp-validation-for="PeopleCount" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ArrivalDate">Дата на пристигане:</label>
                        <input asp-for="ArrivalDate" class="form-control" type="date" min="@DateTime.Today.ToString("yyyy-MM-dd")" value="@DateTime.Today.ToString("yyyy-MM-dd")" placeholder="Select Arrival Date" />
                        <span asp-validation-for="ArrivalDate" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="LeavingDate">Дата на напускане:</label>
                        <input asp-for="LeavingDate" class="form-control" type="date" min="@tomorrowDateString" value="@tomorrowDateString" placeholder="Select Leaving Date" />
                        <span asp-validation-for="LeavingDate" class="text-danger"></span>
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Резервирай</button>
                }
            </div>

        </div>
    </div>


    </body>
</html>